<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OSP-Final-Project</title>
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
      $(document).ready(function () {
        bsCustomFileInput.init()
      })
    </script>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Web Page Analysis</a>
    </nav>
    <div class ="container-fluid">
      <form class="offset-md-2 mt-5" method = "POST" action="/upload/File" enctype = "multipart/form-data">
        <div class="form-row">
          <div class="form-group col-md-8">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button id = "menu" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Single URL</button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" onclick='changeFormSingleURL(); return false' selected="selected">Single URL</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" onClick='changeFormFile(); return false'>File</a>
                </div>
              </div>
              <input name = "url" id = "inputArea" type="text" class="form-control" placeholder="Single URL을 입력해주세요.">
              <div id="fileGroup" class="custom-file" hidden>
                <input name = "file" type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">파일을 선택하거나 끌어당겨 넣어주세요.</label>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary">Enter</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <svg width="1400" height="100">
      <line x1="150" y1="50" x2="1300" y2="50" stroke="black" stroke-width="5" stroke-dasharray="10"/>
      <path stroke-dasharray="10,10" d="M5 40 l215 0" />
      Your Browser dosen't support svg attribute.
    </svg> -->

    <div class="container-lg">
      <h2 class = "mb-3">오픈소스 프로젝트 분석 리스트</h2>
      <table width = "100%" class="table table-bordered table-hover talbe-striped">
        <caption>Analysis List</caption>
        <thead class="thead-light">
          <tr>
            <th style="width: 10%" scope="col" class = "text-center align-middle">번호</th>
            <th style="width: 40%" scope="col" class = "text-center align-middle">URL</th>
            <th style="width: 15%" scope="col" class = "text-center align-middle">전체 단어 수</th>
            <th style="width: 10%" scope="col" class = "text-center align-middle">처리시간</th>
            <th style="width: 20%" scope="col" class = "text-center align-middle">처리</th>
            
          </tr>
        </thead>
        <tbody>
          <tr> 
            <th scope="row" class = "text-center align-middle">1</th>
            <td class = "text-center align-middle">https://computer.knu.ac.kr</td>
            <td class = "text-center align-middle">100</td>
            <td class = "text-center align-middle">0.5ms</td>
            <td class = "text-center align-middle">
              <button type="button" class="btn btn-outline-success">단어 분석</button>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-primary">유사도</button>
            </td>
          </tr> 
          <tr>
            <th scope="row" class = "text-center align-middle">2</th>
            <td class = "text-center align-middle">https://computer.knu.ac.kr</td>
            <td class = "text-center align-middle">200</td>
            <td class = "text-center align-middle">0.8ms</td>
            <td class = "text-center align-middle">
              <button type="button" class="btn btn-outline-success">단어 분석</button>&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-outline-primary">유사도</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class = "text-center">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">다음</a>
          </li>
        </ul>
      </div>
    </div>
 
  <script> 
    function changeFormSingleURL(){
      var menu = document.getElementById("menu")
      var inputArea = document.getElementById("inputArea")
      var fileGroup = document.getElementById("fileGroup")
      menu.innerHTML="Single URL"
      if(inputArea.hidden){
        inputArea.hidden = false
        fileGroup.hidden = true
      }
      inputArea.setAttribute('placeholder', "Single URL을 입력해 주세요.")
    }
    function changeFormFile(){
      var menu = document.getElementById("menu")
      var inputArea = document.getElementById("inputArea")
      var fileGroup = document.getElementById("fileGroup")
      menu.innerHTML = "Files"
      if(fileGroup.hidden){
        inputArea.hidden = true;
        fileGroup.hidden = false;
      }
    }
  
  </script>

</body>
</html>
